@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

#form {
  width: 400px;
  height: 300px;
  display: block;
}

input {
  font: 1em sans-serif;
  color: #ffe81f;
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ffe81f;
  border-width: 2px;
  padding: 1em;
  background-color: transparent;
  margin-bottom: 30px;
}

::placeholder {
  color: #ffe81f;
  font-size: 1em;
}

.input-block {
  padding: 30px, 0, 30px, 0;
}

input:focus::placeholder {
  color: transparent;
}

p {
  font: 1em sans-serif;
  color: #ffe81f;
  margin-top: 20px;
}

.submit {
  font: 1em sans-serif;
  padding: 1em;
  border-radius: 10px;
  border: none;
  width: 360px;
  height: 50px;
  background-color: #ffe81f;
  font-weight: bold;
}

h1 {
  font: 2em sans-serif;
  color: #ffe81f;
}

a {
  font: 1em sans-serif;
  line-height: 1rem;
  /* font-family: ; */
  font-weight: bold;
  color: #ffe81f;
  text-decoration: none;
}

a:hover {
  color: white;
}

button:hover {
  color: #ffe81f;
  background-color: black;
  border: 2px solid #ffe81f;
}
