h1 {
  font: 2em sans-serif;
  color: #ffe81f;
}

h2 {
  font: 1em sans-serif;
  color: #ffe81f;
}

h3 {
  color: #000000;
}

/* reversey-wersey */

.reverse h1 {
  color: #000000;
}

.reverse h2 {
  color: #000000;
}

.reverse h3 {
  color: #000000;
}

@media screen and (min-width: 768px) {
  h2 {
    font: 2em;
  }
}

@media screen and (min-width: 1440px) {
  h2 {
    font: 3em;
  }
}

@media screen and (min-width: 2560px) {
  h2 {
    font: 4em;
  }
}
