body {
  background-color: #ffe81f;
  text-align: left;
}

h1 {
  font: 2em sans-serif;
  color: #ffe81f;
}

h3 {
  color: black;
  padding-left: 30px;
}

/* reversey-wersey */

.reverse h1 {
  color: black;
}
